        * {
        margin: 0;
        padding: 0; 
        box-sizing: border-box;
        }
        
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffffc1;
        }
        .container {
            width: 100%;
            margin: auto;
            overflow: hidden;
        }
        header {
            background: rgb(1, 1, 1);
            color: #c2a5a5;
            padding-top: 30px;
            justify-content: space-between;
            align-content: center;
            display: flex;
            min-height: 100px;
            height: auto;
        }
       
        .header-content , .nav-bar{
            display: flex;
            align-items: center;
            padding : 20px;
            color: #ebe9e9;
        }
        header a{
            color: #f7f4f4;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
        }
        .nav-bar ul {
            padding: 0;
            list-style: none;
        }
        .nav-bar ul li {
            display: inline;
            margin-right: 20px;
        }
        #projects {
            padding: 20px;
            height: 500px;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
        }
        .project-list {
            margin: 20px 0;
            padding: 10px;
            background-color: rgb(238, 235, 238);
            border-radius: 5px;
            gap: 20px;
        }
        footer {
            background: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            margin-top: 20px;
        }
        #about{
            padding: 20px;
            height: 300px;
            display: flex;
            height: 500px;
            align-items: center;
        }
        .hire-btn {
        padding: 12px 25px;
        background-color: #0b0f0e;
        color: white;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        }
        .skills-content1, .skills-content2{
            padding:10px;
            display : flex;
            color: #000000;
            background-color: #ffffff;
            margin-right: 20px;

        }   
        #skills{
            padding : 20px;
            border : 2px solid #ffffff;
            border-radius: 5px;
            display : flex;
            background-color: #ffffff;
            height: 500px;
            align-items: center;
        }
        .skills-content1 h3, .skills-content2 h3{
            padding: 10px;
        }
        .skills-content1 ul, .skills-content2 ul{
            padding: 5px;
            border-radius: 5px;
            list-style: none;
            background-color: rgb(238, 235, 238);
        }